/*-----------------------------------------------------------------------------*/
/*----------------------------  全                域  --------------------------*/
/*------------------------------------------------------------------------------*/
body{
  overflow:auto;
  width: 100%;
  }
header{
  display: none;
}
hr{
 border: 1px solid #C9C4C4;
}


h4,p{
  margin: 0px;
}
.navbar{
  background-color:#D63F69;
  margin-bottom: 0px;
  border: none;
}
.navbar-brand{
 padding:0px;
 height: 68px;
}
.navbar-right{
  padding-top:10px;
}
.navbar-default .navbar-nav>li>a{
  color:white;
  font-size: 18px;
}
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
  }



.Container{
  width: 90%;
  margin: auto;
  /*background-color: pink;*/
  overflow:hidden;
}
#Banner{
  width: 100%;
  background-image: url('images/banner_phone.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  height: 230px;
}
#CarInfoBanner{
  width: 100%;
  background-image: url('images/carinfo_phone.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  height: 180px;
}
#MyPictureBanner{
  width: 100%;
  background-image: url('images/picture/picturebanner_phone.gif');
  background-position:center center;
  background-repeat: no-repeat;
  height: 180px;
}
#MyPictureBanner>p{
  font-size: 18px;
  color:white;
  text-align: center;
  line-height: 180px;
}

.HrRace{
  background-image: url('images/hr_race.jpg');
  background-repeat: repeat-x;
  height: 28px;
}



#Home,#Info,#MyPicture{
  margin-top: 20px 0px 20px 0px;
}
.HomeImg>img{
  display: none;
}
.HomeIntroduce{
  height: 150px;
  padding-top:20px;
}
.Content{
text-align: center;
font-size: 16px;
letter-spacing: 2px;
line-height: 130%;
color: black;
}
#ItemMap{
  background-color: #D63F69;
  height: 80px;
}
#KreanreStudy{
  height: 80px;
  background-color: #D63F69;
  margin-bottom: 5px;
}
#KreanreStudy h4{
  line-height: 80px;
  color:white;

}
#ItemMap h4{
  line-height: 80px;
  color:white;

}
#Footer>h2{
  text-align: center;
  font-size:12px;
  color:white;
  background-color: #D63F69;
  height: 50px;
  line-height: 50px;
  margin: 0px;
}
.Heading{
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
}
.Col2{
  text-align: center;
}
#Info img{
width: 100%;
}
.KartInfoDescribe img{
  max-width:471px;
}
#MyPicture img{
  width: 100%;
}
.MT10px{
  margin-top: 10px;
}
.MT30px{
  margin-top: 30px;
}

.CarInfoimg img{
  width:100%;
  max-width: 350px;
  height: auto;

}

.CarInfo p{
  text-align: left;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 130%;
    }
.pink{
  color:#D63F69;
}
.Blod{
  font-weight: bold;
}

.MyPictureImg{
  margin: auto;
  text-align: center;
}
.MyPictureContent{
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

.MyPictureImg>img{
  margin-top: 30px;
  width: 100%;
  max-width: 1000px;
    }
.MyPictureContent>h4 {
  letter-spacing: 2px;
  line-height: 150%;
  font-weight: bold;
}
.MyPictureContent>h6{
  color:#5b5a5a;
  text-align: right;
  margin-top: 0px;
}
.MyPictureContent>p{
 margin-top: 5px;
 letter-spacing: 2px;
 line-height: 150%;
}
.ML0px{
  margin-left: 0px;
}
.SeeMore{
  margin: auto;
  width: 100%;
  max-width: 1000px;

}
.breadcrumb{
  background-color: #D63F69;
}
.breadcrumb li , .breadcrumb a{
  color: white;
  font-size: 12px;
}
.SeeMore>ol{
    margin-bottom: 10px;
}


.petInfoimg{
  float: left;
  width: 47%;
  margin-left: 2%;
}


.petInfoimg img{
   width: 100%;
   height:100%;
   margin-top: 10px;
}


#petInfo>h4{
color:#D63F69;
letter-spacing: 2px;
font-size: 24px;
font-weight: bold;
padding-left: 40px;
padding-top: 30px;
}

#petInfo>h4>a{
  color:#D63F69;
  text-decoration: none;
  
}
#petInfo>h4>a:hover{
color:white;
background-color: #D63F69;
  
}
#tabs-1,#tabs-2,#tabs-3,#tab{
  overflow: hidden;
}
#petDesc{
  width: 100%;
  height: 100px;
}
#petDesc>ul{
  padding-left:5px;
}






















/*----------------------------------------------------------------------------*/
/*----------------------------  平     板     開    始  -----------------------*/
/*----------------------------------------------------------------------------*/
@media screen and ( min-width:769px) {

.Col4{
  float: left;
  width: 24%;
  margin-left: 1%;
  }
.petInfoimg{
    float: left;
    width: 23%;
    margin-left: 2%;
    margin-top: 30px;
  }
  .cr{
    clear: both;
  }
  .MT10px{
    margin-top: 10px;
  }






  .Col2{
    float: left;
    width: 48%;
    margin-left: 2%;
  }






#KartInfo,#petInfo{
  overflow: hidden;
}
.FR{
  float: right;
}

.HomeImg>img{
  display: inline;
  width: 100%;
  min-height: 300px;
}
.HomeIntroduce{
    padding-top:50px;
}
.Content{
font-size: 24px;
letter-spacing: 4px;
line-height: 170%;
text-align: justify;
}
#ItemMap,#KreanreStudy{
  height: 150px;
}
#ItemMap>h4 ,#KreanreStudy>h4{
  line-height: 150px;

}
#Banner{
background-image: url('images/banner_pc.jpg');
background-position: center bottom;;
height: 400px;
}
#CarInfoBanner{
  width: 100%;
  background-image: url('images/carinfo_pc.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  height: 300px;
}
#MyPictureBanner{
  width: 100%;
  background-image: url('images/picture/picturebanner.gif');
  background-position:center center;
  background-repeat: no-repeat;
  height: 300px;
}
#MyPictureBanner>p{
  font-size: 24px;
  line-height: 300px;
}

.CarInfo p{
  font-size: 18px;
  line-height: 150%;
    }

.CarInfoimg img{

  width: 100%;
  max-width: 500px;
  height: auto;
}

#Footer>h2{
  font-size: 18px;
}
.breadcrumb li , .breadcrumb a{
    color: white;
    font-size: 18px;
  }









}/*平板結尾不可刪*/









/*----------------------------------------------------------------------------*/
/*----------------------------  平     板     開    始  -----------------------*/
/*----------------------------------------------------------------------------*/
@media screen and ( min-width:980px) {





}/*電腦版結尾不可刪*/
